<div class="sidebar" data-color="purple" data-background-color="white" style="background-color: rgba(0, 0, 0, 0.03); height: 657px !important;">
    <div class="logo">
      <p style="text-align: center;">
        <img src="../assets/img/logo.png">  Controle Financeiro    
      </p>
    </div>
    <div>
      <ul class="nav">
        <li class="form-group row">
          <button routerLink="" type="button" class="btn btn-light" style="margin-left: 40px"><img src="../assets/img/home.png">  Home    </button>
        </li>
        <li class="form-group row">
          <button routerLink="/lista" type="button" class="btn btn-light" style="margin-left: 40px"><img src="../assets/img/despesas.png">  Minhas Despesas</button>
        </li>
        <li class="form-group row">
          <button routerLink="/create" type="button" class="btn btn-light" style="margin-left: 40px"><img src="../assets/img/cadastro.png">   Cadastrar Despesas</button>
        </li>
      </ul>
    </div>
  </div>